{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h1 class="text-center mb-4"><b>Détails du client</b></h1>

        <!-- Tableau des informations du client -->
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <th class="bg-light">ID</th>
                        <td>{{ client.id }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Nom</th>
                        <td>{{ client.nom }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Email</th>
                        <td>{{ client.email }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Entreprise</th>
                        <td>{{ client.entreprise }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Montant total</th>
                        <td>{{ client.montantTotal }} €</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Boutons d'actions -->
        <div class="d-flex justify-content-center mt-4">
            <a href="{{ path('app_client_index') }}" class="btn btn-dark rounded-pill mx-2 px-4 py-2">
                Retour à la liste
            </a>
            <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn btn-primary rounded-pill mx-2 px-4 py-2">
                Modifier
            </a>
            {{ include('client/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
